page-pergunta {

    .correto {
        background-color: lightgreen;
    }

    .errado {
        background-color: lightcoral;
    }

    .imagem-pergunta {
        margin: auto;
        display: block;
    }

    
}
